
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /panchayat-settings/{docId} {
        allow get: if isSignedIn();
        allow write: if isSignedIn(); // In a real app, you'd restrict this to an admin role
    }

    match /properties/{propertyId} {
      allow read, list: if isSignedIn();
      // Allow create for seeding script (unauthenticated)
      // and allow update/delete for authenticated users.
      allow create: if true; 
      allow update, delete: if isSignedIn(); 
    }
  }
}
